{% extends "base_about.html" %}

{% block title %} About Me {% endblock %}

{% block about_me_title %}About Me{% endblock %}

{% block about_me %}
Hi! My name is Alejandro de Ugarriza Mohnblatt (Ale for short). I am from Salta province, Argentina. My main interests are software development and robotics, although some of my other hobbies include drawing, reading fantasy, writing, translation, language learning, linguistics and philology. I also like mixing them to create interesting new things.
{% endblock %}

{% block languages_title %}Languages{% endblock %}

{% block languages %}
My mother tongue is Spanish. I currently speak English to a high degree of fluency and basic German.
{% endblock %}


{% block studies_title %}Studies{% endblock %}

{% block studies %}
I've studied in the <i>Instituto de Innovación y Tecnología Aplicada</i> (Institute of Innovation and Applied Technology) and have done an internship in the <i>Universidad Abierta Interamericana</i> (Open Interamerican University).
{% endblock %}

{% block distinctions_title %}Distinctions{% endblock %}


{% block distinctions %}
My team and I received the second place in the RoboCup 2023 international robotics competition, in the Junior Simulated Rescue Maze category, plus a community award given by the vote of the other participants.
{% endblock %}
