{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block about %} About {% endblock %}
{% block home %} Home {% endblock %}
{% block linguistics %} Translation {% endblock %}
{% block software %} Tech {% endblock %}
{% block blog %} Blog {% endblock %}
{% block language_selector %} Language {% endblock %}
{% block content %} {{content}} {% endblock %}
{% block contact_title %} Contact information{% endblock %}
{% block theme_selector %}Theme{% endblock %}
{% block dark_theme %}Dark{% endblock %}
{% block light_theme %}Light{% endblock %}

{% block eat_cookies %} This site has no cookies! (I ate them all) <i>crunch crunch crunch...</i> {% endblock %}
