{% extends "base_index.html" %}

{% block title %} Alejandro de Ugarriza Mohnblatt {% endblock %}
{% block intro %} 
Software developer, robot maker and translator
{% endblock %}

{% block about_title %} About Me {% endblock %}
{% block about_content %} A brief look into who I am and what I do. {% endblock %}

{% block software_title %} Tech {% endblock %}
{% block software_content %} Software development and robotics. {% endblock %}


{% block linguistics_title %} Translation {% endblock %}
{% block linguistics_content %} My work as a translator and why I'm the right one for your literary project. {% endblock %}

{% block cv_title %} Curriculum Vitae {% endblock %}
{% block cv_content %} My studies, academic background, awards, capabilities, and projects. {% endblock %}


