{% extends "base_tech.html" %}

{% block title %} Software Development and Robotics {% endblock %}
{% block page_title %} Software Development and Robotics {% endblock %}

{% block projects_title %} Robotics Projects {% endblock %}
{% block projects_content %} I have created various personal robotics projects, most notable among them the <b>Mini Me</b> project. {% endblock %}

{% block robocup_title %} RoboCup {% endblock %}
{% block robocup_content %} My story in the RoboCup international competition and eventual second place. {% endblock %}


{% block diploms_title %} Courses and certificates {% endblock %}
{% block diploms_content %} Certificates and awards from courses and competitions. {% endblock %}