{% extends "base_tech.html" %}

{% block tab_title %}Tech{% endblock %}

{% block title %}
    {% for c in ['Tech', 'no', 'logy'] %}
        <p class="main_title_part" style="float: left; white-space: pre">{{get_big_text(c, 'roman', 100)}}</p>
    {% endfor %}
{% endblock %}

{% block intro %}> Hello <s>World</s>.
  In this page you will find my technological portfolio.

> I began my technological pursuits at 8 years old.
  I work mainly in the area of robotics. My capabilities also include Python programming, 3D design and 3D printing.
  As a part of the Talos team, composed by my partner Ian Dib and myself, I won the second place in the simulation category in the RoboCup Junior 2023.

> Now I'm developing a chatbot management and monitoring sytem in the Institute of Innovation and Applied Technology (Instituto de Innovación y Tecnología Aplicada)

> I also have some projects of my own:

$ cat projects{% endblock %}

{% block mini_me_description %}
Miniature humanoid robot that mimics the movements of the user via an exoskeleton. It also possesses autonomous control Capabilities and its main goal is to be as accesible and inexpensive as possible.
{% endblock %}

{% block go_to_mini_me %}Go to Project{% endblock %}

{% block simple_language_maker_title %}
  {% for c in ['Sim', 'ple ', 'Lan', 'guage ', 'Maker    '] %}
  <p class="main_title_part" style="float: left; white-space: pre; ">{{get_big_text(c, 'standard', 100)}}</p>
  {% endfor %}
{% endblock %}

{% block simple_language_maker_description %}
  Generate a whole new language in the blink of an eye. (It even rhymes!)
{% endblock %}

{% block go_to_simple_languge_maker %}Start Languageing!{% endblock %}

{% block link_capabilities %}Capabilities{% endblock %}

{% block link_courses %}Courses taken{% endblock %}

{% block link_awards %}Awards{% endblock %}

{% block link_yt %}Robotics YouTube channel{% endblock %}

{% block link_ig %}Robotics Instagram page{% endblock %}
