{% extends "base_translation.html" %}

{% block title %}Translation{% endblock %}

{% block hi %}Hi!{% endblock %}
{% block intro %}My name is Alejandro, and I want to convince you that I'm the best Spanish translator for your project.{% endblock %}

{% block content %}
<p>
    I am from Argentina and Spanish is my native tongue. I naturally also have a high degree of fluency in English, and I'm an avid reader in both languages. This reading includes Tolkien's and Borges' works on translation.
</p>
<p>
    I've taken that knowledge to endeavor in personal and profesional projects, like my current work as a Spanish to English translator for researchers at the Catholic University of Salta. I'm also proud to be the developer of various software related to linguistics, for example <a href="https://pypi.org/project/voseador/">Voseador</a>, a python library that improves Spanish conjugation tools and promotes the inclusion of the rioplatense variety of Spanish in linguistic projects. I've also developed a program that allows for the automatic creation of Constructed Languages based on Spanish —<a href="https://github.com/CoolRobotsAndStuff/simple-language-maker">Simple Language Maker</a>— which is particularly useful for fantasy writing.
</p>
<h2>
    Show, don't Tell: a Sample of my Work
</h2>
<p>
    As they say, showing is better than telling, so I will now show you a sample of my work: the translation of a particularly tricky part in The Adventures of Alice in Wonderland by Lewis Caroll, a book widely regarded as extremely difficult to translate. Here, I will compare my choices to the ones of other translators, and explain what I have to offer that others might not.
</p>
<p>The text in question is the following: </p>

<p class="quote">
“You promised to tell me your history, you know,” said Alice, “and why it is you hate—C and D,” she added in a whisper, half afraid that it would be offended again.

“Mine is a long and a sad tale!” said the Mouse, turning to Alice, and sighing.

“It is a long tail, certainly,” said Alice, looking down with wonder at the Mouse’s tail; “but why do you call it sad?” And she kept on puzzling about it while the Mouse was speaking, so that her idea of the tale was something like this:—

         “Fury said to a
         mouse, That he
        met in the
       house,
     ‘Let us
      both go to
       law: I will
        prosecute
         you.—Come,
           I’ll take no
           denial; We
          must have a
        trial: For
      really this
     morning I’ve
    nothing
    to do.’
      Said the
      mouse to the
       cur, ‘Such
        a trial,
         dear sir,
            With
          no jury
        or judge,
       would be
      wasting
      our
      breath.’
        ‘I’ll be
        judge, I’ll
         be jury,’
             Said
         cunning
          old Fury:
          ‘I’ll
          try the
            whole
            cause,
              and
           condemn
           you
          to
           death.’”

“You are not attending!” said the Mouse to Alice severely. “What are you thinking of?”

“I beg your pardon,” said Alice very humbly: “you had got to the fifth bend, I think?”

“I had <i>not</i>!” cried the Mouse, sharply and very angrily.

“A knot!” said Alice, always ready to make herself useful, and looking anxiously about her. “Oh, do let me help to undo it!”

“I shall do nothing of the sort,” said the Mouse, getting up and walking away. “You insult me by talking such nonsense!”
</p>
<p>
    There are quite a few points of complexity here. Firstly, there are the tale-tail and not-knot puns, which are very dependent on the English language — <i>historia</i> and <i>cola</i> don't sound alike at all, and neither do <i>no</i> and <i>nudo</i>.
</p>
<p>
    Then there are hidden quirks. You may have noticed that the tale/tail is a poem, but what you probably haven't is that, if you format it into traditional stanza form, you end up with a kind of poem called... a <i>tail</i> poem! And why is it called that? Because each strophe is composed by two short verses and a third long one, forming a sort of tail (one could even say that each strophe looks like a little mouse). The short verses rhyme with each other, and the long verse rhymes with the one from the next strophe.
</p>

<p class="quote">
“Fury said to a mouse, 
That he met in the house,
‘Let us both go to law: I will prosecute you.

—Come, I’ll take no denial; 
We must have a trial: 
For really this morning I’ve nothing to do.’

Said the mouse to the cur, 
‘Such a trial, dear sir,
With no jury or judge, would be wasting our breath.’
        
‘I’ll be judge, I’ll be jury,’
Said cunning old Fury:
‘I’ll try the whole cause, and condemn you to death.’”
</p>

<p> As you can see, Lewis did like his puns. Now, how do we go on to translate that? I will first show you my finished translation (you can skip it if you can't read Spanish), and then I'll explain the most important things.</p>

<p class="quote" lang="es">
—Me prometió decirme su historia, ¿sabe? —dijo Alicia— y por qué es que odia a los… G y a los P. —añadió en un susurro, un poco asustada de que se ofendiera de nuevo.
El ratón miró a Alicia y suspiró.
—Mi historia es larga y triste y, como has podido ver, trae mucha cola.
—Es ciertamente un cola muy larga —dijo Alicia, mirando maravillada al rabo del ratón y, a medida que el ratón hablaba, continuó pensando en ello, de manera que su idea de la cola era algo así:

             «Furia dijo a 
          un ratón,  Que 
       conoció en el 
    galpón: 
 —Vallamos
         ambos ante la 
            ley, y te enjuiciaré.
            Negación no 
        voy a aceptar. Ven, 
           debemos litigar 
     porque sino 
   esta mañana, 
 no se que 
    más haré.
         Dijo al can
            el ratón: —Un 
                 juicio así, don,
                       sin jurado 
                ni juez, sería 
              gastar 
            nuestra
            saliva. 
                —Seré 
                juez y jurado
              dijo Furia, 
       muy taimado
              juzgaré 
                la causa
                     entera, 
                         y te 
               condenaré 
          a perder 
         la
            vida.»

—¡No estás prestando atención! Dijo el ratón severamente. ¿En que estás pensando?
—Mil disculpas —dijo Alicia humildemente— había llegado al quinto giro… ¿creo?
—¡Quinto giro! ¡Recién acaba de comenzar el nudo!
—¡Un nudo! —dijo Alicia, mirando ansiosamente a su alrededor, siempre tratando de ser útil— ¡déjeme que se lo deshaga!
—¡No te dejaré hacer nada! —dijo el ratón levantándose— ¡Me insultas hablando semejante sinsentido! —continuó, a medida que empezaba a alejarse.
</p>

<p>First, the tale-tail. In Spanish there is a phrase, 'to bring tail with it', which means that something has consequences. We can use that to translate this: </p>

  <p class="iq"> “Mine is a long and a sad tale!” </p>
  <p>to this:</p>  
    
  <p class="iq">"My story is long and sad and, as you have been able to see, it brings a lot of tail with it"
  <span class="giq" lang="es">—Mi historia es larga y triste y, como has podido ver, trae mucha cola.</span> </p>
  
  
  <p>
  and the dialog continues like this:
  </p>

<p class="iq"> "It is certainly a very long tail," said Alice, looking with wonder at the Mouse's tail and, while the Mouse was speaking, she continued thinking about it, so her idea of the tail was something like this: 
  <span class="giq" lang="es"> —Es ciertamente un cola muy larga —dijo Alicia, mirando maravillada al rabo del ratón y, a medida que el ratón hablaba, continuó pensando en ello, de manera que su idea de la cola era algo así: </span>
</p>

<p>Now, here comes the poem. This is simply a matter of translating it while being mindful of the tail poem structure. Here is the result formatted in stanza form.</p>

<p class="quote" lang="es">
Furia dijo al ratón,
que conoció en el galpón:
—Vallamos ambos ante la ley, y te enjuiciaré.

Negación no voy a aceptar
ven, debemos litigar
porque sino esta mañana, no se que más haré.

Dijo al can el ratón:
—Un juicio así, don,
sin jurado ni juez, sería gastar nuestra saliva.

—Seré juez y jurado
dijo Furia, muy taimado
juzgaré la causa entera, y te condenaré a perder la vida.</p>

<p>Even if you can't read Spanish you can see that it rhymes in the right ways by looking at the endings of the verses.</p>

<p>The the next challenge is this part:</p>

<p class="iq">“I beg your pardon,” said Alice very humbly: “you had got to the fifth bend, I think?”

“I had <i>not</i>!” cried the Mouse, sharply and very angrily.

“A knot!” said Alice, always ready to make herself useful, and looking anxiously about her. “Oh, do let me help to undo it!”</p>

<p>For this part we can also utilize some quirks of the language to our advantage. In Spanish the most basic narrative structure is defined as having an introduction, a knot (conflict) and an untying (resolution). This is quite convenient but first we need to create the confusion between plot and tail. To do this, we can translate the word 'bend' to <i>'giro'</i> (lit.: 'twist'), which can also have the meaning of 'plot twist'. Bringing all of that together, the final product looks something like this:</p>

<p class="iq">“I beg your pardon,” said Alice humbly: “you had got to the fifth twist <span class="giq">(of the tail)</span>, I think?”

"¡Fifth <span class="giq">(plot)</span> twist! ¡We've only just got to the knot <span class="giq">(conflict)</span>!"

“A knot!” said Alice, always ready to make herself useful, and looking anxiously about her. “Oh, do let me help to undo it!”

<span class="giq" lang="es">—Mil disculpas —dijo Alicia humildemente— había llegado al quinto giro… ¿creo?
—¡Quinto giro! ¡Recién acaba de comenzar el nudo!
—¡Un nudo! —dijo Alicia, mirando ansiosamente a su alrededor, siempre tratando de ser útil— ¡déjeme que se lo deshaga!</span>
</p>

{% endblock %}