{% extends "base_about.html" %}

{% block title %} Acerca de Mí {% endblock %}
{% block about_me_title %}Acerca de Mí{% endblock %}

{% block about_me %}
Hola! Me llamo Alejandro de Ugarriza Mohnblatt (me dicen Ale). Soy de la provincia de Salta, Argentina. Mis principales intereses son el desarrollo de software y la robótica, pero otros de mis hobbies incluyen: dibujo, lectura de fantasía, escritura, traducción, aprendizaje de lenguages, linguística y filología. También me gusta combinarlos para crear cosas nuevas.
{% endblock %}

{% block languages_title %}Idiomas{% endblock %}

{% block languages %}
Actualmente hablo castellano como lengua materna, inglés a un grado de fluidéz alto y alemán básico.
{% endblock %}


{% block studies_title %}Estudios{% endblock %}

{% block studies %}
He estudiado en el instituto de Innovación y Tecnología Aplicada y realicé una pasantía en la Universidad Abierta Interamericana.
{% endblock %}

{% block distinctions_title %}Reconocimientos{% endblock %}

{% block distinctions %}
Mi equipo y yo ganamos el segundo lugar en la competencia intrernacional de robótica RoboCup  2023, en la catergoría de <i>Junior Simulated Rescue Maze</i> (Rescate de Laberinto Simulado para Menores), además de un premio comunitario otorgado por el voto de los otros participantes.
{% endblock %}