{% extends "base.html" %}

{% block title %} Inicio {% endblock %}
{% block home %} Inicio {% endblock %}
{% block about %} Acerca de Mí {% endblock %}
{% block linguistics %} Traducción{% endblock %}
{% block software %} Tecnología {% endblock %}
{% block project_button_title %}Proyectos{% endblock %}
{% block simple_language_maker_dropdown %}Creador de Idiomas Simple{% endblock %}
{% block blog %} Blog {% endblock %}


{% block language_selector %} Idioma {% endblock %}
{% block theme_selector %}Estilo{% endblock %}
{% block dark_theme %}Oscuro{% endblock %}
{% block light_theme %}Claro{% endblock %}


{% block contact_title %} Información de contacto{% endblock %}

{% block eat_cookies %} ¡Este sitio no tiene cookies! (Me las comí a todas) <i>ñamñamñamñam...</i> {% endblock %}
