{% extends "base_index.html" %}

{% block title %} Alejandro de Ugarriza Mohnblatt{% endblock %}

{% block intro %} 
    Desarrollador de software, robotista y traductor
{% endblock %}

{% block about_title %} Acerca de Mí {% endblock %}
{% block about_content %} Un vistazo a quién soy y que hago. {% endblock %}

{% block software_title %} Tecnología {% endblock %}
{% block software_content %} Enterate sobre mis proyectos de software y robótica. {% endblock %}


{% block linguistics_title %} Traducción {% endblock %}
{% block linguistics_content %} Descubrí por qué soy el traductor ideal para tu proyecto. {% endblock %}


{% block cv_title %} Curriculum Vitae {% endblock %}
{% block cv_content %} Mirá mi Hoja de vida completa. {% endblock %}