{% extends "base_index.html" %}

{% block title %} Alejandro de Ugarriza Mohnblatt{% endblock %}

{% block about_title %} Acerca de Mí {% endblock %}
{% block about_content %} Un vistazo a quién soy y qué hago. {% endblock %}

{% block software_title %} Tecnología {% endblock %}
{% block software_content %} Robótica y desarrollo de software. {% endblock %}


{% block linguistics_title %} Traducción y Lingüística {% endblock %}
{% block linguistics_content %} Mi trabajo como traductor y proyectos casuales de lingüística. {% endblock %}