{% extends "projects//base_mini_me.html" %}
{% block meta_description %}
Mini Me
Small humanoid robot that mimics your movements via an exoskeleton
{% endblock %}
{% block title %}Mini Me - The Mini Humanoid Robot{% endblock %}
{% block introduction %}
<p>Imagine being able to control a miniature version of yourself with your movements. Well, this is what this project is all about.</p>
{% endblock %}

{% block article %}
<h2>How it started</h2>

<p>I thought it would be cool to have a robot small humanoid robot that could mimic my movements. I investigated about existing alternatives, and I found that all humanoid robots available on the market were expensive, bipedal (which made them very unstable), or/and closed-source and closed-hardware, which meant that they were quickly falling behind new technologies and advancements in computing hardware. It was then when I started thinking of making a small humanoid robot myself, with wheels or threads instead of legs, fully open-source, and as cheap and easy to build as possible. </p>

<h2>The goals</h2>
<ul>
    <li>Make a mini humanoid robot, powered by a standard Arduino micro-controller.</li>
    <li>Make it as cheap as possible.</li>
    <li>Make an exoskeleton to make it mimic movements.</li>
    <li>Make it easy to build, expand and modify, to allow people to go way beyond the base provided by the Arduino and experiment with autonomous control.</li>
    <li>If I manage to achieve all of that, the ultimate goal would be to foster an open-source community for the continued development of the robot, and to transform it into an accesible and inexpensive platform for education and research.</li>
</ul>

<h2>Project status</h2>
<p>
    The project is now paused. I managed to get a <a href="https://youtube.com/shorts/_N6Vgg1jdxU">working prototype</a>, but I wasn't able to go beyond it for a lack of time, money and knowledge about electronics. I have since learned a lot of things and hope to continue this project in the future.
</p>

<h2>Links</h2>
<p>
    The project was and will be continuously documented in my <a href="https://www.youtube.com/@coolrobotsandstuff847">YouTube channel</a>.
</p>
<p>
    You can find a long form video explaining my progress so far <a href="https://www.youtube.com/watch?v=PD2ya8LXM5A">here</a>.
</p>
<p>
    For a more exhaustive written documentation I used to use the Arduino project hub page. I have since encountered some problems with the site, so that documentation will probably be moved to this website whenever I continue with this project. Until then, you can find the old article <a href="https://projecthub.arduino.cc/CoolRobotsAndStuff/mini-me-the-mini-humanoid-robot-744faa">here</a>.
</p>

{% endblock %}