{% extends "projects//base_simple_language_maker.html" %}
{% block meta_description %}
Simple Language Maker
Program to instantly create languages
{% endblock %}
{% block title %}Simple Language Maker{% endblock %}
{% block introduction %}
<p>Generate a whole new language in the blink of an eye. (It even rhymes!)</p>
{% endblock %}
{% block article %}
<p>
This is a tool written in python to generate languages based on Spanish and then automatically translate to them. The translations retain the poetic qualities of the source, including rhymes, as can be seen in the screenshot above.
</p>
<p>
This program could be used for fantasy writing and role-playing, tough it's main purpose was to test an interesting, but quite simple concept. In simple terms, it works by switching the vowels and consonants of the Spanish language around, giving the illusion of a totally different tongue which is, in reality, structurally identical to Spanish.
</p>
{% endblock %}
{% block download_link_text %}Download for Linux and Windows{% endblock %}
