
<head>
    <style>
        body {
            font-family: Caladea, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .grayed_out {
            {% if theme == "light"%}
                color: darkslategrey;

            {% else %}
                color: grey;
            {% endif %}
            
            font-style: italic;
        }
        


    </style>
</head>

<h1>Alejandro de Ugarriza Mohnblatt</h1>

<hr>
<h2>{{data["personal_data"]["title"]}}</h2>

{% for key, value in data["personal_data"]["fields"].items()%}
    <p>
        <span class="grayed_out">{{key}}</span>
        <br> 
        {{value}}
    </p>

{% endfor %}

<hr>
<h2>{{data["contact_data"]["title"]}}</h2>

{% for key, value in data["contact_data"]["fields"].items()%}
    {% if value["link"] != "" %}
        <p>
            <span class="grayed_out">{{key}}</span> 
            <br>
            <a href={{value["link"]}}>{{value["text"]}}</a>
        </p>
    {% else %}
        <p>
            <span class="grayed_out">{{key}}</span>
            <br> 
            {{value["text"]}}
        </p>
    {% endif %}

{% endfor %}

<hr>
<h2>{{data["languages"]["title"]}}</h2>

{% for key, value in data["languages"]["fields"].items() %}
    <p>
        {{key}} - <span class="grayed_out">{{value}}</span>
    </p>

{% endfor %}

<hr>
<h2>{{data["abilities"]["title"]}}</h2>

<table>
    
        {% for key, value in data["abilities"]["fields"].items() %}
        <tr>
            <th style="text-align: left;"><span style="padding:0.2rem; background-color: rgba(82, 118, 130, 0.47);">{{key}}</span></th>
            <th style="font-size: 1.5em; font-family: sans-serif">{% for i in range(value) %}<span style="color:rgb(44, 83, 155);">■</span>{% endfor %}{% for i in range(5 - value) %}□{% endfor %}
            </th>
        </tr>
        {% endfor %}
            
</table>


<hr>
<h2>{{data["courses"]["title"]}}</h2>

<table>
{% for key, value in data["courses"]["fields"].items()%}
    
        <tr>
            <th style="text-align: center;"><span class="grayed_out" style="vertical-align: top;">{{value["year"]}} -</span> <br> <span style="color: darkslategray;">╎ <br>╎ </span> </th>
            <th style="text-align:start; vertical-align: top">{{key}}
                <br>
                <span class="grayed_out">{{value["institution"]}}</span>
            </th>
        </tr>
        <!--<tr><th><span style="color: darkslategray;">╎</span></th> <th></th></tr>-->

{% endfor %}
</table>


<hr>
<h2>{{data["awards"]["title"]}}</h2>

<table>
{% for key, value in data["awards"]["fields"].items()%}
    
        <tr>
            <th style="text-align: center;"><span class="grayed_out" style="vertical-align: top;">{{value["year"]}} -</span> <br> <span style="color: darkslategray;">╎ <br>╎ </span> </th>
            <th style="text-align:start; vertical-align: top">{{key}}
                <br>
                <span class="grayed_out">{{value["institution"]}}</span>
            </th>
        </tr>
        <!--<tr><th><span style="color: darkslategray;">╎</span></th> <th></th></tr>-->

{% endfor %}
</table>

<hr>
<h2>{{data["academic_history"]["title"]}}</h2>

{% for d in data["academic_history"]["fields"] %}
    <p>
        {{d["title"]}}
        <br>
        <span class="grayed_out">
            {{d["institution"]}}
            <br>
            {{d["time_frame"]}}
        </span>
        <ul>
            {% for item in d["stuff_made"] %}
            <li>{{item}}</li>
            {% endfor %}
        </ul>
    </p>

{% endfor %}