{% extends "projects//base_mini_me.html" %}
{% block meta_description %}
Mini Me
Mini robot humanoide que imita tus movimientos a través de un exoesqueleto.
{% endblock %}
{% block title %}Mini Me - El Mini Robot Humanoide{% endblock %}
{% block introduction %}
<p>Imaginá ser capaz de controlar una version en miniatura de vos mismo. Bueno, de eso se trata este proyecto.</p>
{% endblock %}

{% block article %}
<h2>Cómo comenzó</h2>

<p>Pensé que sería interesante tener un robotito humanoide que pudiera imitar mis movimientos, y de esa manera controlarlo. Investigué sobre alternativas existentes y descubrí que todos los robots humanoides que había en el mercado eran caros, bípedos (lo que los hacía muy inestables) y/o de fuente y <i lang="en">hardware</i> cerrados. Esto significa que se estaban atrasando a velocidad vertiginosa en relación a las nuevas tecnologías y avances en <i lang="en">hardware</i> de computación. Fue entonces que empecé a pensar en hacer yo mismo un pequeño robot humanoide, con ruedas u orugas en vez de piernas, completamente <i lang="en">open-source</i> y lo más barato y fácil de armar posible. </p>

<h2>Los objetivos</h2>
<ul>
    <li>Hacer un minirobot humanoide, dirigido por un microcontrolador Arduino estándar.</li>
    <li>Hacerlo lo más barato posible.</li>
    <li>Hacer un exoesqueleto para que imite movimientos.</li>
    <li>Hacerlo fácil de construir, expandir y modificar, para permitir que más gente pueda ir más allá del Arduino y experimentar con control autónomo.</li>
    <li>Si puedo lograr todo eso, el objetivo final sería crear una comunidad <i lang="en">open-source</i> alrededor del proyecto para continuar con su desarrollo, y de esa manera transformarlo en una plataforma accesible y barata para la educación y la investigación.</li>
</ul>

<h2>Estatus del proyecto</h2>
<p>
    Hoy el proyecto está pausado. Logré hacer un <a href="https://youtube.com/shorts/_N6Vgg1jdxU">prototipo funcional</a>, pero no logré ir más allá de eso por una falta de tiempo, dinero y conocimiento de electrónica. Desde entonces he aprendido muchas cosas, y espero poder continuar este proyecto en el futuro.
</p>

<h2>Links</h2>
<p>
    El proyecto ha sido y continuará siendo documentado en mi <a href="https://www.youtube.com/@coolrobotsandstuff847">canal de YouTube</a>.
</p>
<p>
    Se puede encontrar un video explicando my progreso hasta ahora <a href="https://www.youtube.com/watch?v=PD2ya8LXM5A">aquí</a>.
</p>
<p>
    Para documentar todo en más profundidad y de manera escrita, solía utilizar la página de Arduino Project Hub. Ahora sin embargo he encontrado algunos problemas con esta, así que la documentación probablemente se mudará a este sitio cuando continue con el proyecto. Hasta entonces se puede encontrar el artículo original <a href="https://projecthub.arduino.cc/CoolRobotsAndStuff/mini-me-the-mini-humanoid-robot-744faa">aquí</a>.
</p>

{% endblock %}