{% extends "projects//base_simple_language_maker.html" %}
{% block meta_description %}
Creador de Idiomas Simple
Programa para crear idiomas instantáneamente.
{% endblock %}
{% block title %}Creador de Idiomas Simple{% endblock %}
{% block introduction %}
<p>¡Genera un nuevo idioma de la nada! (y traduce hasta rimas)</p>
{% endblock %}
{% block article %}
<p>
Esta es una herramienta escrita en python que genera idiomas basándose en el español, y permite traducir desde y a ellos. Las traducciones retienen las cualidades poéticas del original, incluyendo rimas, como se puede ver en la imagen de arriba.
</p>
<p>
Este programa puede ser usado para ayudar en la escritura fantástica, o para juegos de rol. Sin embargo su propósito principal es probar un concepto interesante pero bastante simple: el algoritmo funciona al intercambiar las vocales y consonantes del castellano unas con otras, dentro de sus respectivas categorías, dando la ilusión de ser un idioma distinto que es, en realidad, estructuralmente idéntico al español.
</p>
{% endblock %}

{% block download_link_text %}Descargar para Linux y Windows{% endblock %}
